
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f5eff6;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            background-color: whitesmoke;
            justify-content: center;
            padding: 20px; /* Added padding for better spacing */
            background-color: #f5eff6;
          
        }

.section_all_cloth
{
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #f5eff6;
}


.heading{
    text-align: center;
    margin: 100px 0px 0px 0px;
    padding: 2px;
    height: 40px;
    width: 100%;
    color: #a49ad2;
   font-size: 23px;
   font-family: 'Times New Roman', Times, serif;
  }
  
        .je_image {
            margin: 15px;
           
            overflow: hidden;
            position: relative;
            transition: transform .2s; /* Added transition for hover effect */
            width: 245px; /* Set a fixed width */
           border: none;
            
        }

        .je_image img {
            width: 100%;
            height: auto;
            display: block;
            
        }

        .je_info {
            background-color: #f9f9f9;
            padding: 10px;
        }

        .je_name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
       
        

        /* Media Queries for responsiveness */
        @media (max-width: 1200px) {
            .je_image {
                width: 30%; /* Adjusted size for medium screens */
            }
        }

        @media (max-width: 900px) {
            .je_image {
                width: 45%; /* Adjusted size for smaller screens */
            }
        }

        @media (max-width: 600px) {
            .je_image {
                width: 100%; /* Full width for mobile screens */
                margin: 10px 0;
            }
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #777484;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
            opacity: 0.7;
        }

        .contain:hover .overlay {
            height: 16%;
        }

        .des {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .contain {
            height: 330px;
            width: 250px;
            position: relative;
            border: 1px solid whitesmoke;
            object-fit: fill;
            border-radius: 7px;
             margin: 25px;
            }
    
   