html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 
}

footer {
  width: 100%;
  margin-top: 50px;
}

.footer {
  padding: 200px 0 40px 100px;
  text-align: left;
  background-color: #08172E;
  color: white;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer a:visited {
  color: gray;
}

.footer a:hover {
  color: white;
}

.footer a:active {
  color: black;
}

.table {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

td {
  padding: 8px;
  vertical-align: top;
}

.grand {
  height: 80px;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: #08172E;
}

.parent {
  background-color: #8186d5;
  width: 80%;
  max-width: 1050px;
  height: 120px;
  position: relative;
  margin: -40px auto 0;
  padding: 20px 20px;
  font-size: 25px;
  z-index: 10;
  box-shadow: -15px -15px rgba(119,119,119, 0.4);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help-text {
  font-size: 25px;
  margin: 0;
}

.child {
  background-color: #222222;
  height: 40px;
  width: 130px;
  padding: 8px 20px;
  color: white;
  font-size: 14px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {

  .footer
  {
    padding: 50px 10px 0 0;
  }

  .table {
    width: 100%;
  }

  td {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .parent {
    font-size: 20px;
    height: auto;
    padding: 20px;
    flex-direction: column;
  }

  .child {
    width: 100%;
    margin-top: 10px;
  }
}