
/* side price details */

.order_p_details_container
{
    height: 250px;
    width: 300px;
     margin-right: 180px;
      float: right;
       margin-top: 50px;
}

.price_details_head_delivery
{
    font-size: 16px;
   
     margin-top: 10px;
      margin-bottom: 20px;
}

.order_price_delivery
{
    font-size: 14px;
     margin-right: 20px; 
     float: right;
}

.order_price_text_dilevery
{
    font-size: 14px;
     margin: 10px 0px 10px 0px;
}

.final_price_delivery
{
    font-size: 15px; 
    margin: 16px 20px 10px 0px; 
    float: right;
}

.final_price_text_delivery
{
    font-size: 15px; 
    margin: 16px 0px 10px 0px;
}

 /* PAYMENT METHODS */

 .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .active, .collapsible:hover {
    background-color: white;
  }

  .contain {
    /*  height: 500px;*/
      height: 330px;
      width: 250px;
      position: relative;
      border: 1px solid rgb(3, 3, 3);
      object-fit: fill;
      margin: 25px 15px 25px 75px
    }

  